.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        max-width: 250px;
        img{
            width: 100%;
        }
    }
    &__official{
        color: #FFFFFF;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        span{
            display: block;
            font-size: 18px;
        }
    }
    &__phone{
        display: block;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        &:hover{
            color: #FFFFFF;
            text-decoration: none;
        }
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
@media (max-width: 767px){
    .header{
        justify-content: space-around;
        &__logo{
            img{
                width: 85%;
            }
        }
        &__official{
            span{
                font-size: 15px;
            }
        }
        &__phone{
            font-size: 15px;
        }
    }
}
@media (max-width: 575px){
    .header{
        align-items: space-around;
        &__official{
            display: none;
        }
        &__phone{
            font-size: 11px;
        }
        &__logo{
            max-width: 195px;
            img {
                width: 75%;
            }
        }
    }
}